body {
    background-color: lightblue!important;
}

.container {
    width: 600px!important;
}

.tasks, .completed_cont, .trashed_cont {
    background-color: white;
    width: 300px;
}

h6 {
    color: red;
    cursor: pointer;
}

h6:hover {
    text-decoration: underline;
}

.item {
    background-color: rgb(221, 214, 205);
}